*, *::before, *::after {
    box-sizing: border-box; /*for easier padding*/
}

body{
    background-color: #1C1C1C;
    display:flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #1F2937;
    width: 550px;
    height:550px;
    padding: 64px 62px;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.header{
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    padding:0px;
    margin:0px;
    line-height:1;
}

.header-emph{
    color: #10B981;
    
}

.subtitle{
    color: white;
    font-size:20px;
    font-family: sans-serif;
    font-weight:100;
    margin:0px;
}

.password-container{
    
}

.btn-generate{
    margin-top:52px;
    background-color:#10B981;
    width: 192px;
    height:42px;
    border:0;
    border-radius: 6px;
    font-size:16px;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
}