body{
    background-color: #1F2937;
}

.header{
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    
}

.header-emph{
    font-style: italics;
    color: #10B981;
    
}

.subtitle{
    color: white;
    font-size:20px;
    line-height:28px;
    font-family: sans-serif;
    font-weight:100;
}